{% extends "layout.html" %}

{% block main %}
    <h2>Your messages</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Sender</th>
                <th scope="col">Message</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    <th scope="row">1</th>
                    <td>{{ row["sender"] }}</td>
                    <td>{{ row["message"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}